<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/blitzer/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="filtermetoda.js"></script>
    <link rel="stylesheet" href="metodFilter.css">
</head>
    <body ng-app="form" ng-controller="formController">

<form>
    <h1>web Servisi</h1>
    <ul>
        <li ng-click="toggleActive(item) "ng-repeat="item in items" ng-class="{active:item.active}">
            {{item.name}} <span>{{item.price | currency}}</span>
        </li>
    </ul>
    <div class="total">
        Total : <span>{{total()+total()/5 | currency}}{{' sa pDv('+total()/5+')' | lowercase}}</span>
    </div>
</form>

</body>
</html>