<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/blitzer/jquery-ui.css">
</head>
<body ng-app="storeApp">
<div ng-controller="StoreController">
    <b>Invoice:</b>
    <div>
        Quantity: <input type="number" min="1" ng-model="qty">
    </div>
    <div>Costs: <input type="number" min="0" ng-model="cost"></div>
    <div>
        <p><b>Total</b>{{result | currency}}</p>
    </div>
    <div>
        <button ng-click="count()">Click</button>
    </div>
</div>
<script>
    var storeApp = new angular.module('storeApp',[]);
    storeApp.controller('StoreController',function($scope){
        $scope.qty = 1;
        $scope.cost=2;
        $scope.result ="unkown";
        $scope.count = function(){
            $scope.result = $scope.qty * $scope.cost;
        }
    })
</script>
</body>
</html>